<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.classroom.misc.repository.mapper.editor.EditorBaseMapper">

    <resultMap id="BaseResultMap" type="com.smart.classroom.misc.repository.orm.editor.EditorDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="work_no" jdbcType="VARCHAR" property="workNo"/>
    </resultMap>

    <sql id="AllColumns">
        id, create_time, update_time, username, password, work_no
    </sql>

    <insert id="insert" parameterType="com.smart.classroom.misc.repository.orm.editor.EditorDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO scm_editor (
        create_time, update_time, username, password, work_no )
        VALUES (

        
        #{createTime,jdbcType=TIMESTAMP} ,
        #{updateTime,jdbcType=TIMESTAMP} ,
        #{username,jdbcType=VARCHAR} ,
        #{password,jdbcType=VARCHAR} ,
        #{workNo,jdbcType=VARCHAR}
        )
    </insert>


    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO scm_editor (
        create_time, update_time, username, password, work_no )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.createTime,jdbcType=TIMESTAMP} ,
            #{item.updateTime,jdbcType=TIMESTAMP} ,
            #{item.username,jdbcType=VARCHAR} ,
            #{item.password,jdbcType=VARCHAR} ,
            #{item.workNo,jdbcType=VARCHAR} )
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">

        DELETE FROM scm_editor
        WHERE id = #{id,jdbcType=BIGINT}

    </delete>


    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM scm_editor
        WHERE
        <choose>
            <when test="list==null || list.isEmpty()">
                1 = 0
            </when>
            <otherwise>
                id IN
                <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </otherwise>
        </choose>
    </delete>


    <update id="update" parameterType="com.smart.classroom.misc.repository.orm.editor.EditorDO">
        UPDATE scm_editor
        SET

                create_time = #{createTime,jdbcType=TIMESTAMP} ,
                update_time = current_timestamp() ,
                username = #{username,jdbcType=VARCHAR} ,
                password = #{password,jdbcType=VARCHAR} ,
                work_no = #{workNo,jdbcType=VARCHAR}
            WHERE id = #{id}
    </update>


    <select id="queryById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="AllColumns"/>
        FROM scm_editor
        WHERE id = #{id,jdbcType=BIGINT}
    </select>


    <select id="queryByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="AllColumns"/>
        FROM scm_editor
        WHERE
        <choose>
            <when test="list==null || list.isEmpty()">
                1 = 0
            </when>
            <otherwise>
                id IN
                <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </otherwise>
        </choose>
    </select>

    <select id="page" resultMap="BaseResultMap">

        SELECT

        <include refid="AllColumns"/>

        FROM scm_editor

        <where>
            <if test="workNo != null and workNo !=''">
                AND work_no = #{workNo}
            </if>

        </where>

        <choose>

            <when test="orderCreateTime != null and orderCreateTime.name() == 'ASC'">
                ORDER BY create_time ASC
            </when>
            <when test="orderCreateTime != null and orderCreateTime.name() == 'DESC'">
                ORDER BY create_time DESC
            </when>


            <when test="orderUpdateTime != null and orderUpdateTime.name() == 'ASC'">
                ORDER BY update_time ASC
            </when>
            <when test="orderUpdateTime != null and orderUpdateTime.name() == 'DESC'">
                ORDER BY update_time DESC
            </when>

            <otherwise></otherwise>
        </choose>


    </select>


</mapper>