<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.classroom.misc.repository.mapper.contract.ContractMapper">

    <resultMap id="BaseResultMap"
               extends="com.smart.classroom.misc.repository.mapper.contract.ContractBaseMapper.BaseResultMap"
               type="com.smart.classroom.misc.repository.orm.contract.ContractDO">
    </resultMap>

    <sql id="AllColumns">
        <include refid="com.smart.classroom.misc.repository.mapper.contract.ContractBaseMapper.AllColumns"/>
    </sql>

</mapper>